
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{

  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  text-align: center;
  background-color: #F6F7F8;
  border: 1px solid #D6D9DC;
  border-radius: 1em;
  margin: 40px 0;
  padding: 50px;
}


form {
  background-color: #F6F7F8;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  width: 85%;
  padding: 50px;
  margin: 0 0 40px 0;
}
.form-row {
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}
.form-row button {
  font-size: 16px;
  font-weight: bold;

  color: #FFFFFF;
  background-color: #5995DA;

  border: none;
  border-radius: 3px;

  padding: 10px;
  cursor: pointer;
}

.form-row button:hover {
  background-color: #76AEED;
}

.form-row button:active {
  background-color: #407FC7;
}
.form-row select {
  padding: 1em;
  font-size: 14px;
}
label {
  padding: 1em;
  font-weight: bold;
}
@media (min-width: 550px) {
  form {
    max-width: 700px;
  }
  .form-row button {
    width: 100px;
    margin: auto;
  }
  .form-row {
    flex-direction: row;
    justify-content: space-around;
  }
}
